---
- name: Deploy Web Application to Web Server
  hosts: web
  become: true
  tasks:
    - name: Ensure Docker is installed
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Login to ECR on Web Server
      shell: "aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 147845229479.dkr.ecr.ap-southeast-1.amazonaws.com"

    - name: Pull and Run Application Container
      shell: |
        docker pull 147845229479.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-hamizanaimanbinhamid:latest
        docker stop my-web-app || true
        docker rm my-web-app || true
        docker run -d --name my-web-app -p 80:80 147845229479.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-hamizanaimanbinhamid:latest
